<h2>Add a Question!</h2>

<form (submit)="addQuestion()" #formData= "ngForm">
  Question:
  <textarea rows="3" cols="15" min="15" name="q" [(ngModel)]="new_question.q" #q='ngModel' required></textarea>
  <div class='errors' *ngIf='q.errors && (q.dirty || q.touch)'>
    <span *ngIf='q.errors.required'>Question is required</span>
  </div>
  
  <p>Correct Answer: <input type="text" name="answer" [(ngModel)]="new_question.answer" #answer required></p>
  <p>Fake Answer: <input type="text" name="fanswer" [(ngModel)]="new_question.fanswer" #fanswer required></p>
  <p>Fake Answer: <input type="text" name="fanswer2" [(ngModel)]="new_question.fanswer2" #fanswer2 required></p>
  <button type=""><a href="/dashboard">Cancel</a></button> <input type="submit" value="Add Question" [disabled]=!formData.valid>
</form>



